<div class="parent"> 
    <div class="video-background">
        <video autoplay muted loop [playsInline]="true">
            <source src="../../../assets/videos/background.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="container" [ngClass]="isSignDivVisiable ? 'active' :''" id="container">
        <!-- Sign In Form -->
        <div class="form-container sign-up">
            <form #loginForm="ngForm" (ngSubmit)="onLogin()" [class.submitted]="loginForm.submitted">
                <h1>Log In</h1>
            
                <!-- Email Field for Login -->
                <input
                    type="text"
                    name="username"
                    [(ngModel)]="loginObj.username"
                    [placeholder]="loginForm.submitted && !loginForm.controls['username'].valid ? 'Please fill in the Username' : 'Username'"
                    (focus)="loginForm.controls['username'].setErrors(null)"  
                    required
                />
            
                <!-- Password Field for Login -->
                <div class="password-field">
                    <input
                        [type]="showPassword ? 'text' : 'password'"
                        name="password"
                        [(ngModel)]="loginObj.password"
                        [placeholder]="loginForm.submitted && !loginForm.controls['password'].valid ? 'Please fill in the Password' : 'Password'"
                        (focus)="loginForm.controls['password'].setErrors(null)" 
                        required
                    />
                    <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
                        <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="eye-icon">
                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zM12 17c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"/>
                        </svg>
                        <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="eye-icon">
                            <path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
                        </svg>
                    </button>
                </div>
            
                <!-- Forgot Password Link -->

                <a></a>
            
                <!-- Log In Button -->
                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3"/>
                    </svg>
                    Log In
                </button>

                <!-- Back to Homepage Button -->
                <button type="button" routerLink="/" class="home-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"/>
                        <polyline points="9 22 9 12 15 12 15 22"/>
                    </svg>
                    Back to Homepage
                </button>
            </form>
            
            
        </div>

         <!-- Sign Up Form -->
         <div class="form-container forget-password sign-in" *ngIf="isForgetDivVisible">
            <form #forgetPasswordForm="ngForm" (ngSubmit)="onForgetPassword(forgetPasswordForm)" [class.submitted]="forgetPasswordForm.submitted">
                <h2>Account Reset</h2>
                <p class="form-description">Enter your email address below. If the email is registered in our system, we'll send you a temporary password.</p>
                <!-- Email Field for Forget Password -->
                <input
                    type="email"
                    name="email"
                    [(ngModel)]="forgotObj.email" 
                    [placeholder]="forgetPasswordForm.submitted && !forgetPasswordForm.controls['email'].valid ? 'Please provide a valid Email Address.' : 'Email'"
                    (focus)="forgetPasswordForm.controls['email'].setErrors(null)"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  
                    required
                />
                <div *ngIf="forgetPasswordForm.submitted && forgetPasswordForm.controls['email'].errors?.['pattern']" class="error-message">
                    Please enter a valid email address.
                </div>
            
                <a></a>

                <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.85.83 6.72 2.24"/>
                        <path d="M21 3v6h-6"/>
                    </svg>
                    Reset Your Account
                </button>

                <button type="button" (click)="isForgetDivVisible = false; isSignDivVisiable = false;" class="cancel-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                        <path d="M18 6L6 18M6 6l12 12"/>
                    </svg>
                    Cancel
                </button>
            </form>
        </div>


        <!-- Toggle Panels (Switch Between Register and Login) -->
        <div class="toggle-container">
    <div class="toggle">
        <div class="toggle-panel toggle-right">
            <h1 style="margin-bottom: 0px;">Ready? <br>Let's Log In!</h1>
            <div class="bounce-arrow" style="width: 70px;">↓</div>
            <button type="button" id="login" (click)="isSignDivVisiable = false">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3"/>
                </svg>
                Log In
            </button>
        </div>
        <div class="toggle-panel toggle-left">
            <h1 style="margin-bottom: 0px;">Aw, Snap! <br>We Got You!</h1>
            <div class="bounce-arrow" style="width: 70px;">↓</div>
            <button type="button" id="forget" (click)="forgotPassword()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <path d="M21 12a9 9 0 1 1-9-9c2.52 0 4.85.83 6.72 2.24"/>
                    <path d="M21 3v6h-6"/>
                </svg>
                Reset Account
            </button>
        </div>
    </div>
</div>

    </div>

<!-- Loading Animation Popup -->
<div class="loading-popup" *ngIf="isPasswordResetLoading" [class.fade-out]="passwordResetFinished">
    <div class="loading-spinner">
        <div class="spinner"></div>
        <p>Processing your request...</p>
    </div>
</div>

<!-- Loading Animation After Login Success -->
<div class="login-success-loading" *ngIf="isLoginSuccessLoading" [class.fade-out]="loginTransitionFinished">
    <div class="login-success-container">
        <p>{{ loadingComplete ? 'Ready to go!' : 'Getting everything in perfect order...' }}</p>
        <div class="progress-bar-container">
            <div class="progress-bar" [style.width.%]="loadingProgress"></div>
        </div>
    </div>
    <div class="swipe-overlay" [@swipeAnimation]="swipeState"></div>
</div>

<!-- Add this near the end of your body -->
<div class="dissolve-overlay" *ngIf="loadingProgress === 100"></div>

</div>

